body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  url(../img/titulo2.png) right no-repeat, url(../img/LogoR&M.png) center center no-repeat, url(../img/sub-buzz-32343-1493057318-3.webp) center center no-repeat;
  background-size: 20rem, 20rem, cover;
  background-attachment:fixed, fixed, fixed;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
